.card-container {
    display: flex;
    flex-flow: row wrap;
    
    & .card {
        margin: 10pt;
    }
}

@media (max-width: 768px){ 
    .card {
        flex: 100%;
    }
}

@media (min-width: 768px) {
    .card {
        flex: 45%;
    }
}

@media (min-width: 1200px) {
    .card {
        flex: 25%;
    }
}